{% macro menu(dataset, obs, type) %}
<h6 class="main-sidebar__nav-title">Observations</h6>
<ul class="nav flex-column">
  <div id="obs-accordion">
    <div class="list-group list-group-flush">                                                              
      {% for uid, ob in obs['default'].items()|sort(attribute='name') %}
        <div class="list-group-item justify-content-between align-items-center" data-toggle="collapse" data-target="#collapse{{ ob.id }}" aria-controls="collapse{{ ob.id }}">
          <h4>
            <i class="fa fa-plus-square"></i>&nbsp;&nbsp;{{ ob.name }}
          </h4>
        </div>
        <div id="collapse{{ ob.id }}" class="collapse m-4 obs-values" data-parent="#obs-accordion" data-name="{{ ob.name }}" data-id="{{ ob.id }}" data-type="{{ ob.type }}">
          {% if ob.type == "categorical" %}
            {% if ob.is_truncated %}
              <div class="alert alert-warning" role="alert">
                This observation has more than 100 values, and has been truncated to improve performance.
              </div>
            {% endif %}    
            <div class="btn-group btn-group-toggle mb-4" role="group">
              <a class="btn btn-sm btn-white checkall" data-id="{{ ob.id }}"><i class="far fa-2x fa-check-square"></i></a>
              <a class="btn btn-sm btn-white uncheckall" data-id="{{ ob.id }}"><i class="far fa-2x fa-square"></i></a>
              <a class="btn btn-sm btn-white colourise" id="colourise{{ ob.id }}" data-name="{{ ob.name }}" data-id="{{ ob.id }}" data-type="{{ ob.type }}"><i class="fa fa-2x fa-tint"></i></a>
            </div>   
            <div class="list-group list-group-flush">
            {% for key, value in ob['values'].items()|sort(attribute=1) %}
              <div class="list-group-item p-1">
                <div id="obs-list-{{ ob.id }}" class="row">
                  <div class="col-9">
                    <label class="label-checkbox">{{ value }}
                      <input class="obs_value_cb" id="obs-{{ ob.id }}-value-{{key}}" type="checkbox" name="obs-{{value}}" value="{{value}}" checked="checked">
                      <span class="checkmark"></span>
                    </label>    
                  </div>
                  <div class="col-3">
                    <div id="{{ ob.id }}-{{ key }}" class="legend-box-color"></div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          {% elif ob.type == "continuous" %}
            <div class="btn-group btn-group-toggle mb-4" role="group">
              <a class="btn btn-sm btn-white colourise" id="colourise{{ ob.id }}" data-name="{{ ob.name }}" data-id="{{ ob.id }}" data-type="{{ ob.type }}"><i class="fa fa-2x fa-tint"></i></a>
            </div>   
            <div class="list-group list-group-flush">         
              <div class="list-group-item p-1">
                <div class="row">
                  <div class="col-6">
                    Minimum
                  </div>
                  <div class="col-6 text-right">
                    {{ ob.min }}
                  </div>
                </div>
              </div>
              <div class="list-group-item p-1">
                <div class="row">
                  <div class="col-6">
                    Maximum
                  </div>
                  <div class="col-6 text-right">
                    {{ ob.max }}
                  </div>
                </div>
              </div>
              <div class="list-group-item p-1">
                <div class="row">
                  <div class="col-6">
                    Mean
                  </div>
                  <div class="col-6 text-right">
                    {{ ob.mean }}
                  </div>
                </div>
              </div>
              <div class="list-group-item p-1">
                <div class="row">
                  <div class="col-6">
                    Median
                  </div>
                  <div class="col-6 text-right">
                    {{ ob.median }}
                  </div>
                </div>
              </div>
            </div>   
          {% endif %}    
        </div>                          
      {% endfor %}
    </div>  
  </div>           
</ul>

{% for group, obs in obs.items() if group != 'default' %}
<h6 class="main-sidebar__nav-title">{{ group }}</h6>
<ul class="nav flex-column">
  <div id="obs-accordion">
    <div class="list-group list-group-flush">                                                              
      {% for uid, ob in obs.items()|sort(attribute='display_name') %}
        <div class="list-group-item justify-content-between align-items-center" data-toggle="collapse" data-target="#collapse{{ ob.id }}" aria-controls="collapse{{ ob.id }}">
          <h4>
            <i class="fa fa-plus-square"></i>&nbsp;&nbsp;{{ ob.display_name }}
          </h4>
        </div>
        <div id="collapse{{ ob.id }}" class="collapse m-4 obs-values" data-parent="#obs-accordion" data-name="{{ ob.name }}" data-id="{{ ob.id }}" data-type="{{ ob.type }}">
          {% if ob.type == "categorical" %}
            {% if ob.is_truncated %}
              <div class="alert alert-warning" role="alert">
                This observation has more than 100 values, and has been truncated to improve performance.
              </div>
            {% endif %}    
            <div class="btn-group btn-group-toggle mb-4" role="group">
              <a class="btn btn-sm btn-white checkall" data-id="{{ ob.id }}"><i class="far fa-2x fa-check-square"></i></a>
              <a class="btn btn-sm btn-white uncheckall" data-id="{{ ob.id }}"><i class="far fa-2x fa-square"></i></a>
              <a class="btn btn-sm btn-white colourise" id="colourise{{ ob.id }}" data-name="{{ ob.name }}" data-id="{{ ob.id }}" data-type="{{ ob.type }}"><i class="fa fa-2x fa-tint"></i></a>
            </div>   
            <div class="list-group list-group-flush">
            {% for key, value in ob['values'].items()|sort(attribute=1) %}
              <div class="list-group-item p-1">
                <div id="obs-list-{{ ob.id }}" class="row">
                  <div class="col-9">
                    <label class="label-checkbox">{{ value }}
                      <input class="obs_value_cb" id="obs-{{ ob.id }}-value-{{key}}" type="checkbox" name="obs-{{value}}" value="{{value}}" checked="checked">
                      <span class="checkmark"></span>
                    </label>    
                  </div>
                  <div class="col-3">
                    <div id="{{ ob.id }}-{{ key }}" class="legend-box-color"></div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          {% elif ob.type == "continuous" %}
            <div class="btn-group btn-group-toggle mb-4" role="group">
              <a class="btn btn-sm btn-white colourise" id="colourise{{ ob.id }}" data-name="{{ ob.name }}" data-id="{{ ob.id }}" data-type="{{ ob.type }}"><i class="fa fa-2x fa-tint"></i></a>
            </div>   
            <div class="list-group list-group-flush">         
              <div class="list-group-item p-1">
                <div class="row">
                  <div class="col-6">
                    Minimum
                  </div>
                  <div class="col-6 text-right">
                    {{ ob.min }}
                  </div>
                </div>
              </div>
              <div class="list-group-item p-1">
                <div class="row">
                  <div class="col-6">
                    Maximum
                  </div>
                  <div class="col-6 text-right">
                    {{ ob.max }}
                  </div>
                </div>
              </div>
              <div class="list-group-item p-1">
                <div class="row">
                  <div class="col-6">
                    Mean
                  </div>
                  <div class="col-6 text-right">
                    {{ ob.mean }}
                  </div>
                </div>
              </div>
              <div class="list-group-item p-1">
                <div class="row">
                  <div class="col-6">
                    Median
                  </div>
                  <div class="col-6 text-right">
                    {{ ob.median }}
                  </div>
                </div>
              </div>
            </div>   
          {% endif %}    
        </div>                          
      {% endfor %}
    </div>  
  </div>           
</ul>
{% endfor %}
{% endmacro %}