<!--<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0-rc.1/dist/js.cookie.min.js"></script>
<!-- Load jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<!-- Load Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- Load app -->
<script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
<script src="{{ url_for('static', filename='scripts/explorer.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/app.js') }}"></script>
<script>
window.cookieconsent.initialise({
    container: document.getElementById("cookieconsent"),
    palette:{
    popup: { background: "#1aa3ff" },
    button: { background: "#e0e0e0" },
    },
    revokable: true,
    onStatusChange: function(status) {
    console.log(this.hasConsented() ?
    'enable cookies' : 'disable cookies');
    },
    "position": "bottom-right",
    "content": {
        "href": "{{ url_for('privacy') }}"
    }
});   
</script>