:host {
    font-size:12px;
}

select {
    width: 100%;
    display: block;
    margin-bottom:5px;
}

fieldset {
    display: inline-block;
    border: 0;
}

ul { 
    padding-left: 0; 
}

.choices {
    list-style: none;
    font-size: 90%;
    font-weight: bold;
}

.choices li .close {
    margin: 0;
    padding: 0;
    line-height: 100%;
}

.choices li {
    display: inline-block;
    padding: 0 0.4em 0.2em 0.1em;
    line-height: 110%;
    vertical-align: middle;
}

.holder {
    display: block;
    position: absolute;
    min-width: 15em;
    background-color: white;
    z-index: 2;
    border: 1px solid #e1e5eb;
    padding:5px;
}

.holder.hidden {
    display: none;
}

.results {
    list-style: none;
    font-size: 120%;
    max-height: 25em;
    overflow-x: hidden;
    overflow-y: scroll;
}

.results li[data-count]::after {
    content: " (" attr(data-count) ")";
    font-style: italic;
    font-size: 90%;
}

.holder .close-box { 
    color: #007bff;
    font-weight: 600;
    text-align:right;
    display:block;
    font-size:100%;    
}

.choices .close { 
    display:inline-block;
    cursor:pointer;
}

.choices {    font-size: 120%;
}
.choices li .close {
    visibility: hidden;
}

.choices li:hover {
    font-weight: inherit;
}

.choices li:hover .close {
    visibility: visible;
}

.choices li label {
    padding: 0.1em 0.25em;
}
ul.results li {
    cursor:pointer
}

li label  {
    border: 1px solid transparent;
    background-color: white;
    color: #007bff;
    border-radius: 0.25em;
}

li.selected label {
    background-color: #007bff;
    color: white;
}

.choices li {
     line-height: 175%;
}

.choices {
    max-width: 50em;
}

#buttons button {
    background-color: #007bff;
    color: white;
    border: 2px solid transparent;
    padding: 0.5em;
    margin: 0.25em;
    box-sizing: border-box;
}

#buttons button:hover {
    border: 2px silver outset;
    background-color: #4ea3ff;
}

h4.header {
    font-size: 20px;
	margin: 0;
	padding: 14px 0 0 0;
	font-weight: 500;
	color: #9ea8b9;    
}