<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Adifa</title>   
    {% block headcss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookieconsent@3.1.1/build/cookieconsent.min.css" integrity="sha256-zQ0LblD/Af8vOppw18+2anxsuaz3pWYyVWi+bTvTH8Q=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" integrity="sha256-zaSoHBhwFdle0scfGEFUCwggPN7F+ip9XRglo8IWb4w=" crossorigin="anonymous">
    <link rel="stylesheet" id="base-stylesheet" href="{{ url_for('static', filename='styles/shards-dashboards.1.1.0.min.css') }}">
    <link rel="stylesheet" id="app-stylesheet" href="{{ url_for('static', filename='styles/app.css') }}">
    <link rel="stylesheet" id="gene-selector-stylesheet" href="{{ url_for('static', filename='styles/gene-selector.css') }}">
    {% endblock %}
    {% block headscripts %}{% endblock %}
    <script>
      var API_SERVER = '{{ config.API_SERVER }}';
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-00ZNHH1B0J"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-00ZNHH1B0J');
    </script>    
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  </head>
  <body class="h-100">
    <div class="container-fluid">
      <div class="row">
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          {% block sidebar %}
            {% include 'blocks/sidebar.html' %}
          {% endblock %}   
          <footer class="main-footer px-4 bg-white border-top">
            {% block footer %}
              {% include 'blocks/footer.html' %}
            {% endblock %}
          </footer>                     
        </aside>
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            {% block navbar %}
              {% include 'blocks/navbar.html' %}
            {% endblock %}
          </div>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-accent alert-{{ category }} alert-dismissible fade show mb-0" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span></button> <i class="fa fa-info mx-2"></i>
                <strong>{{ message|safe }}</strong>
              </div> 
              {% endfor %}
            {% endif %}
          {% endwith %}                        
          <div class="main-content-container container-fluid px-4 pt-4">
            {% block content %}
            {% endblock %}
          </div>
        </main>
      </div>
    </div>
    {% block bodyend %}
      {% include 'blocks/body-end.html' %}
    {% endblock %}
  </body>
</html>
