
{% extends 'base.html' %}

{% block headscripts %}
<script type="module">
  import { ValueSelector } from '{{ url_for("static", filename="scripts/ValueSelector.js" ) }}';
  customElements.define('gene-selector', ValueSelector);
</script>
{% endblock %}

{% block sidebar %}
<!-- Main Sidebar -->
<div class="main-navbar">
  <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap p-0">
    <a class="navbar-brand" href="{{ url_for('datasets.index') }}">
      <img class="align-middle m-auto" src="/images/logo.svg" alt="Haniffa Lab">
    </a>
    <a class="navbar-text" href="{{ url_for('datasets.index') }}">
      <span class="align-middle m-auto">CellAtlas.io</span>
    </a> 
    <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
      <i class="fas fa-arrow-left"></i>
    </a>     
  </nav>
</div>
<div class="nav-wrapper">
  <h6 class="main-sidebar__nav-title">Dataset</h6>
  <div class="p-3 border-bottom">
    <h4 class="ds-title mb-2">
      {{dataset.title}}            
    </h4>                         
  </div>
</div>
<!-- End Main Sidebar -->  
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="card card-small mb-4">
            <div class="card-header border-bottom">
                <h6 class="m-0">Edit Dataset</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">
                    <div class="row">
                        <div class="col">
                            <form method="POST">
                                {{ form.csrf_token }}
                                {{ form.hidden_tag() }}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {{ form.title.label }} {{ form.title(class="form-control") }}
                                    </div>                                  
                                    <div class="form-group col-md-6">
                                        {{ form.filename.label }} {{ form.filename(class="form-control") }}
                                    </div>
                                </div>
                                <div class="form-row">                                    
                                    <div class="form-group col-md-12">
                                        {{ form.desc.label }} {{ form.desc(class="form-control") }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {{ form.pub_doi.label }} {{ form.pub_doi(class="form-control") }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ form.pub_link.label }} {{ form.pub_link(class="form-control") }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {{ form.pub_author.label }} {{ form.pub_author(class="form-control") }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ form.pub_group.label }} {{ form.pub_group(class="form-control") }}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-accent">Update Dataset</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}




