{% extends 'base.html' %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">This dataset is password protected</h5>
    <p class="card-text">Please enter the password to view this link.</p>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter password" aria-label="Enter password" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Submit</button>
          </div>
        </div>
      </div>
    <div>
  </div>
</div>
{% endblock content %}