{% extends 'base.html' %}
{% import 'macros/content.html' as content %}
{% block title %}Protected Dataset{% endblock %}

{% block content %}
{{ content.header(
  title="This dataset is protected", 
  breadcrumbs=dataset.title) }}
<div class="card">
  <div class="card-body">
    <p class="card-text">Please enter the password to view this page</p>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <form method="POST">
          <div class="input-group mb-3">
            <input type="text" name="password" class="form-control" placeholder="Enter password" aria-label="Enter password">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    <div>
  </div>
</div>
{% endblock content %}