{% extends 'base.html' %}
{% import 'macros/content.html' as content %}
{% import 'macros/sidebar.html' as sidebar %}
{% block title %}Scatterplot - {{dataset.title}}{% endblock %}

{% block sidebar %}
    {{ sidebar.menu(dataset, obs, 'scatterplot') }}
{% endblock %}

{% block bodyend %}
{{ super() }}
<script src="{{ url_for('static', filename='scripts/scatterplot.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/spatial.js') }}"></script>
<script src="https://unpkg.com/deck.gl@latest/dist.min.js"></script>
<script src="https://unpkg.com/@deck.gl/core@^8.0.0/debug.min.js"></script>
<script src="https://d3js.org/d3.v6.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
{% endblock %}

{% block content %}
  {{ content.header(
    title="Scatterplot in embedding basis", 
    breadcrumbs=dataset.title,
    dataset=dataset) }}
  <div class="row">
    <div class="container col-lg-9 col-md-12">
      <div class="row">
        <div class="col-lg-8 col-md-12">
          {% block visualisation %}
            {% if dataset.data_obsm|length > 0 %}
            <div class="col-12" style="width: 100%;">
              <div id="canvas-container" data-datasetId="{{ dataset.id }}" class="card card-small" style="width: 100%;"></div>
            </div>
              
            {% else %}
              <div class="card card-small">
                <div class="card-body">
                  <div class="alert alert-info" role="alert">
                    This dataset has no embeddings and can not be visualised as a scatterplot. Please select a different type of plot. 
                  </div>
                </div>
              </div>
            {% endif %}
          {% endblock %}
        </div>
        <div class="col-lg-4 col-md-12 p-0 m-0">
          <div id="spatial-container" data-datasetId="{{ dataset.id }}" class="card" style="height: 100%;">
            <div class="card-body mx-auto row d-flex flex-wrap align-items-center p-0">
                <img id="spatial-img" class="align-middle" src="data:image/png;base64,{{image}}" style="max-width: 100%;"/>
            </div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12">
      {% block selector %}
        {% if 'hstack' in dataset.title %}
          {% include 'blocks/selector/combined.html' %}
        {% elif 'cite_seq' in dataset.title %}
          {% include 'blocks/selector/proteins.html' %}
        {% else %}
          {% include 'blocks/selector/genes.html' %}
        {% endif %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
