name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: "Install dependencies"
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit>=2.19.0
          pre-commit install
      
      - name: "Run pre-commit"
        run: pre-commit run -a
